@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}
.main-header{
  font-family: 'Fjalla One', sans-serif;
}
.create-form label{
  color: rgb(235, 229, 220) !important;
  font-family: 'Fjalla One', sans-serif;
  font-size: 12px !important;
}
